Section "Module"
	Load "altsec"

	SubSection "altsec"
	    # This makes system tray work if you need it
	    Option "SharedSelections" "_NET_SYSTEM_TRAY_S0"
	    # A list of clients that should be considered trusted when
	    # started after secured phase.
	    Option "TrustedClients" "dmenu:xrandr:xsetroot:/usr/lib64/misc/ssh-askpass"
	    # Increase log level
	    Option "LogLevel" "1"
	EndSubSection
EndSection
